@import "src/assets/scss/helpers/clearfix";
@import "src/assets/scss/helpers/colored-links";
@import "src/assets/scss/helpers/ratio";
@import "src/assets/scss/helpers/position";
@import "src/assets/scss/helpers/stacks";
@import "src/assets/scss/helpers/visually-hidden";
@import "src/assets/scss/helpers/stretched-link";
@import "src/assets/scss/helpers/text-truncation";
@import "src/assets/scss/helpers/vr";

.font-size-10 {
  font-size: 10px !important;
}
.font-size-11 {
  font-size: 11px !important;
}
.font-size-12 {
  font-size: 12px !important;
}
.font-size-13 {
  font-size: 13px !important;
}
.font-size-14 {
  font-size: 14px !important;
}
.font-size-15 {
  font-size: 15px !important;
}
.font-size-16 {
  font-size: 16px !important;
}
.font-size-17 {
  font-size: 17px !important;
}
.font-size-18 {
  font-size: 18px !important;
}
.font-size-20 {
  font-size: 20px !important;
}
.font-size-22 {
  font-size: 22px !important;
}
.font-size-24 {
  font-size: 24px !important;
}
.font-size-26 {
  font-size: 26px !important;
}
.font-size-28 {
  font-size: 28px !important;
}
.font-size-30 {
  font-size: 30px !important;
}

.b-radius-3 {
  border-radius: 3px;
}
.b-radius-8 {
  border-radius: 8px;
}
.b-radius-11 {
  border-radius: 11px;
}
.b-radius-14 {
  border-radius: 14px;
}
