@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@import "./assets/scss/functions";
@import "./assets/scss/variables";
@import "./assets/scss/mixins";

$bg-first-light: #fff;
$bg-second-light: #fafafa;
$bg-first-dark: #08192c;
$bg-second-dark: #0c2540;
$color-black: #1e1e1e;
$color-white: #fff;
$color-text-dark: #fff;

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#header,
#footer {
  flex: 0 0 auto;
}
#main-content {
  padding: 20px 0;
  flex: 1 0 auto;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &[data-theme="dark"] {
    $enable-gradients: true;
    $body-color: #eeeeee;
    --#{$variable-prefix}body-color: #{$body-color};
    background: url("./assets/images/png/pattern-dark.png");

    h1,
    h2,
    h3,
    p,
    span,
    a {
      color: $color-text-dark;
    }

    .auto-bg {
      background: $bg-first-dark;
      color: $body-color;
    }
    .auto-color {
      color: $body-color;
    }
    .drop_menu {
      background: $bg-second-dark;

      .notify-item {
        &:hover {
          background: $bg-first-dark;
        }
      }
    }

    input {
      color: $white;
      background: transparent;
    }

    .main-input,
    .PhoneInput .PhoneInputInput {
      padding: 8px;
      border: 1px solid $body-color;
      border-radius: 5px;

      &:focus-visible {
        border: 1px solid $primary;
      }
    }
  }

  &[data-theme="light"] {
    $enable-gradients: true;
    $body-color: $color-black;
    --#{$variable-prefix}body-color: #{$body-color};
    background: url("./assets/images/png/pattern.png");

    .auto-bg {
      background: $bg-first-light;
      color: $body-color;
    }
    .auto-color {
      color: $body-color;
    }

    input {
      color: $color-black;
      background: transparent;
      outline: none;
    }

    .main-input,
    .PhoneInput .PhoneInputInput {
      padding: 8px;
      border: 1px solid $body-color;
      border-radius: 5px;

      &:focus-visible {
        border: 1px solid $primary;
      }
    }
  }
}

@import "./assets/scss/bootstrap";

.color-inherit {
  color: inherit;
}

.main-input-group {
  position: relative;
}

.main-input-error {
  position: absolute;
  margin: 0;
  top: 42px;
  color: $danger;
  font-size: 12px;
}
